.residents-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
width: 100%;
max-width: 1480px;
margin-left: auto;
margin-right: auto;
}

.background{
    height: auto;
    max-width: 100%;
}
form{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 90%;
    height: 25px;
    background-color: 
    #707470;
  
  }
  button{
  padding: 0.5em 1em;
  border: none;
  background: black; 
  cursor: pointer;
  color: white;
  }
  